#game-choices {
	padding-top: 10px;
	max-width: 320px;
	left: 50%;
	@include transform(translateX(-50%));

	&.ajax {
		pointer-events: none;
	}
}
.choice {
	$diameter: 80;
	$diameter_px: $diameter * 1px;
	@include size($diameter_px);
	line-height: $diameter_px;
	font-size: ($diameter / 2) * 1px;
	background: rgba(255,255,255,0.1);
	position: relative;
	display: inline-block;


	cursor: pointer;
	margin: 8px;
	
	border-radius: 50%;
	color: rgba(255,255,255,.6); 
	box-shadow: 0px 0px 0 0 rgba(255,255,255,0);
	// -webkit-transition: opacity .8s ease-in-out,box-shadow .3s ease-in-out, background .3s ease-in-out,scale .5s ease-in-out, -webkit-transform 5s ease-in-out;
	//         transition: opacity .8s ease-in-out,box-shadow .3s ease-in-out, background .3s ease-in-out,scale .5s ease-in-out, transform 5s ease-in-out;
	@include transition-property(all);
	@include transition-duration(.5s);
	@include transition-timing-function(ease-in-out);
	text-shadow: -1px 0px 2px rgba(255, 255, 255, 1);

	&.ajax {
		opacity: .6;
		@include transform(scale3d(.8,.8,1));
		&:after {
			@include animation(sonarEffectB .8s ease-out infinite reverse);
		}
	}

	&.spent {
		pointer-events: none;
		&:not(.ajax) {
			background: #ccc;
			color: #0e83cd;
		}

		&.colder {
			opacity: .5;
		}

		&.warmer {
			background: orange !important;
			color: white; 
			box-shadow: 0px 0px 33px 10px orange;
		}

		&.hot {
			background: $hot !important;
			color: $white !important;
			-webkit-animation: glow 1.9s ease-in-out infinite;
			animation: glow 1.9s ease-in-out infinite;
		    -webkit-animation-direction: alternate; /* Chrome, Safari, Opera */
		    animation-direction: alternate;  
			box-shadow: 0px 0px 61px 30px rgba(213,79,48,1);
			&:after{
				@include animation(shockwave-hot 1s);
			}
		}

		&.won {
			background: $won !important;
			color: white; 
			box-shadow: 0px 0px 33px 10px $won;
			&:after{
				@include animation(shockwave-won 3s);
			}
		}
		&.grow {
			@include transform(scale3d(1.5,1.5,1));
		}
	}
	&:after {
		@include position(absolute, 0 null null 0);
		width: 100%;
		height: 100%;
		border-radius: 50%;
		content: ''; 
		box-sizing: content-box;
		pointer-events: none;
	}
}