// Colors
$lochmara: #0E83CD;



$level-0: $lochmara;
$level-1: #eea303;
$level-2: #f06060;
$level-3: #0e83cd;
$level-4: #702fa8;
$level-5: #64bb5d;
$level-6: #d54f30;
$level-7: #3851bc;
$level-8: #96a94b;

$white : #FFF;

$hot: #d54f30;
$won: #41ab6b;